/** CSS STYLE **/
@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans/OpenSans-Regular.ttf")
}
@font-face {
  font-family: 'Neucha';
  src: url("./fonts/Neucha-Regular.ttf")
}

:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;

  line-height: 1.6em;

  color: var(--dark);
}

main {
  width: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: 185px;

  font-weight: 400;
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h1, h2, h3 {
  font-family: 'Neucha';
  font-weight: 400;

  line-height: 1.2em;

  color: #2A2626;
}

header,
nav,
section,
footer {
  display: flex;
  justify-content: center;
}

.info-block {
  background-color: var(--light);
}

.video-header {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.container {
  position: relative;
  padding: 100px 0;
  width: 1110px;
}

.info-block::before {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;

  background-image: url('../media/background.png');
  background-repeat: no-repeat;
  background-size: cover;

  content: '';

  opacity: 0.1;
}

.text-orange {
  color: var(--main-color);
}

.text-white {
  color: var(--white)
}

.text-brown {
  color: var(--brown);
}

.main-img {
  position: absolute;

  height: 525px;
  top: 55px;
  right: -270px;

  margin: 0;
}

.col-text {
  position: relative;
  display: flex;

  column-gap: 30px;
}

.col-left,
.col-right {
  width: 50%;
}

.col-text p {
  margin-top: 1.2em;
}

.column {
  flex-direction: column;
}

.btn-view {
  display: block;
  width: max-content;

  padding: 12px 24px;
  margin-top: 40px;

  font-weight: 700;

  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--main-color);
}

.btn:hover {
  background-color: #EA7600;
}

.video {
  position: relative;
  margin-top: 30px;
  margin-bottom: -200px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

#navigation {
  width: 100%;
  background-color: var(--main-dark);
}

.nav-tabs {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  
  gap: 20px 30px;
}

.nav-title,
.nav-card {
  width: 350px;
  height: 348px;
}

.nav-card:hover {
  background-color: var(--main-color);
}

.nav-card:hover span {
  color: var(--white);
}

.nav-card:hover h3 {
  color: var(--white);
}

.nav-card:hover p {
  color: var(--white);
}


.nav-title h2 {
  font-size: 52px;
  color: var(--white);
}

.nav-section {
  background-color: var(--light);
}

.link {
  display: flex;
  flex-direction: column;

  padding: 24px;
  text-decoration: none;
  color: var(--dark);
}

.number {
  margin-bottom: 40px;
  font: 64px 'Neucha';

  line-height: 1;
}

.img-shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.main-content {
  display: flex;

  column-gap: 30px;

}

.title-small-dark {
  font: 400 24px 'Neucha';
  color: var(--transparent-dark);
}

.title-small-light {
  font: 400 24px 'Neucha';
  color: var(--transparent-white);
}
.explanation-text {
  margin-top: 30px;

  font: 400 34px 'Neucha';
}

.secondary-title {
  margin: 100px 0 20px;
}

.background-light {
  background-color: var(--white);
}

.background-semi-dark {
  background-color: var(--brown);
}

.background-dark {
  background-color: var(--main-dark);
}

.secondary-title h4 {
  margin: 5px 0 5px 10px;

  font-size: 14px;
  font-weight: 700;
}

.premature-tab,
.depreciation-tab {
  width: 100%;
  background-color: var(--brown);
}

footer {
  width: 100%;
  background-color: var(--white);
}

footer::before {
  position: absolute;

  height: 100%;
  width: 100%;

  background-color: var(--white);

  content: '';
}

.email-header {
  font-size: 18px;
  padding-bottom: 9px;
}

.input-col {
  position: relative;
  display: flex;
  flex-direction: column;
 
}

.footer-form {
  height: 190px;
  justify-content: center;
  align-items: center;

  padding: 0 55px;
}

.form-container {
  display: flex;
  flex-direction: row;
}


input[type="text"] {
  width: 400px;
  height: 50px;
  padding-left: 15px;
  border: none;
}

.btn-submit {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 70px;

  border: none;
  background-color: var(--main-color);
}

.agreement-clause {
  margin-top: 0;
  font-size: 12px;

}

.contact-info-block {
  margin-top: 60px;

  font-size: 14px;

  text-align: center;
}

.contact-info-block p {
  margin-bottom: 16px;
}